<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="ir.smgroup.smslocationnotifier"
    version="0.1.8">
    <name>smsnotifier</name>
    <description>smsnotifier</description>
    <license>MIT</license>
    <keywords></keywords>
    
    <js-module src="www/share.js" name="Share">
        <clobbers target="window.navigator.share" />
    </js-module>
    
    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="Share" >
                <param name="android-package" value="ir.smgroup.smslocationnotifier.Share"/>
            </feature>
        </config-file>
        <config-file target="AndroidManifest.xml" parent="/manifest">
            <uses-permission android:name="android.permission.RECEIVE_SMS"></uses-permission>
            <uses-permission android:name="android.permission.READ_SMS" />
            <uses-permission android:name="android.permission.SEND_SMS"></uses-permission>
            <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
        </config-file>
        <config-file target="AndroidManifest.xml" parent="/manifest/application">
             <receiver android:name="ir.smgroup.smslocationnotifier.SmsNotifier">   
               <intent-filter android:priority="1"><!--   -->
                   <action android:name="android.provider.Telephony.SMS_RECEIVED" />
               </intent-filter>
           </receiver>
        </config-file>
        <source-file src="src/android/Share.java" target-dir="src/ir/smgroup/smslocationnotifier" />
        <source-file src="src/android/SmsNotifier.java" target-dir="src/ir/smgroup/smslocationnotifier" />
    </platform>


</plugin>
